.gitignore
.idea
**/.vscode/*
*.class
**/target/*
Prog/lab5/count.py
Prog/lab6/count.py
Prog/lab6/*.txt

Prog/lab7/*.txt
Prog/lab7/count.py

**/*.o
**/*.out

/AiSD/*
!/AiSD/**/*.*
/AiSD/.vscode/
/AiSD/*.txt
/AiSD/**/*.txt
