.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
  padding: 15px;
}

.sidenav-title {
  padding-left: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
}

.active-link {
  background-color: rgba(63, 81, 181, 0.15);
  color: #3f51b5;
  border-radius: 5px;
}