.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
  padding: 15px;
}

.sidenav-title {
  padding-left: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
}